// customize bootstrap default variables here
// https://getbootstrap.com/docs/4.5/getting-started/theming/

// for example:
// $body-bg: #654321;

@import "~bootstrap/scss/bootstrap.scss";
@import "react-big-calendar/lib/sass/styles";

.modal-header img {
  width: 2.5rem;
  background-color: rgb(224, 224, 224);
  border-radius: 4rem;
  padding: 7px;
  margin-left: 1rem;
}

.modal-header img:hover {
  background-color: rgb(71, 238, 230);
  cursor: pointer;
}

// Hack to prevent all-day events:

.rbc-allday-cell {
  display: none;
}
