// customize bootstrap default variables here
// https://getbootstrap.com/docs/4.5/getting-started/theming/

// for example:
// $body-bg: #654321;

@import "~bootstrap/scss/bootstrap.scss";
@import "react-big-calendar/lib/sass/styles";

.modal-header img {
  width: 2.5rem;
  background-color: rgb(224, 224, 224);
  border-radius: 4rem;
  padding: 7px;
  margin-left: 1rem;
}

.modal-header img:hover {
  background-color: rgb(71, 238, 230);
  cursor: pointer;
}

.rbc-time-view .standard-event {
  background-color: rgb(0, 32, 63);
  color: white;
  opacity: 0.7;
}

.rbc-time-view .error-event,
.rbc-agenda-view .error-event .rbc-agenda-event-cell {
  background-color: rgb(255, 155, 169);
  color: black;
  opacity: 0.7;
}

.rbc-time-view .global-event,
.rbc-agenda-view .global-event .rbc-agenda-event-cell {
  background-color: rgb(228, 221, 205);
  color: black;
  opacity: 0.7;
}

.rbc-time-view .standard-event,
.rbc-time-view .global-event,
.rbc-time-view .error-event,
.rbc-agenda-view {
  font-size: 0.8rem;
  font-weight: 400;
}

.rbc-agenda-view td.rbc-agenda-event-cell .event {
  padding: 0.3rem 0.7rem;
}

.rbc-agenda-view td.rbc-agenda-event-cell .event {
  font-weight: 700;
}
.rbc-agenda-view td.rbc-agenda-event-cell .event:hover {
  background-color: lightgrey;
  border-radius: 5rem;
  cursor: pointer;
}

// Hack to prevent all-day events:

.rbc-allday-cell {
  display: none;
}
